name: Build example
on:
  push:
    branches: [ main, master ]
  workflow_dispatch: # 允许手动触发

jobs:
  macos:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: ./example
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: ${{ github.workspace }}/example/vcpkg
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
     
      - run: flutter build ios --no-codesign
      - run: flutter build macos
      - name: Prepare artifacts
        run: |
          mkdir ~/artifacts
          mv ./ios ~/artifacts/
          mv ./macos ~/artifacts/
          mv ./android ~/artifacts/
          mv ./build ~/artifacts/

      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-android
          path: ~/artifacts/
 
